@charset "utf-8";
/* CSS Document */
body{border:none;margin:0px;padding:0px;}

* {-webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
*:before,*,*:after {-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,img,form,p,input{margin:0px;padding:0px;list-style:none;border:0px;}

a,button,input,div{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; outline: 0 none;}
input[type="checkbox"], input[type="radio"],input[type="file"]{ box-sizing: border-box; padding: 0; cursor:pointer;cursor: hand; vertical-align: middle;}
input[type="button"]{cursor:pointer;cursor: hand;}
input[type="checkbox"],input[type="radio"]{-webkit-appearance: none; -moz-appearance: none;}
input[type="file"]{-webkit-appearance: none; -moz-appearance: none; cursor:pointer;cursor: hand;} 
input::-webkit-input-placeholder { color:#969696; } 
input:-moz-placeholder { color:#969696; }
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill{-webkit-box-shadow : 0 0 0px 1000px white inset ;}/***去除chrome浏览器中input,textarea, select控件的默认黄色背景***/

table{border-collapse:collapse;}
*{margin: 0; padding: 0;}
body{  font-family:"微软雅黑"; color:#646464; font-size:12px; color:#646464!important;}
table {border-collapse: collapse; border-spacing: 0;}/***（这是成对存在的！不用 border-spacing:0 也是可以的） border-spacing:10px 在border-collapse: seperate的前提下，才有用！ ***/
h1,h2,h3,h4,h5,h6 {    font-size: 100%;}
ul,ol,li {list-style: none;}
em,i { font-style: normal;}
img {border: none;}
input,img {vertical-align: middle;}
a {color: #000; text-decoration: none; cursor:pointer; cursor: hand}
.clearfix:after {display: block; content: ''; clear: both; visibility: hidden;}
.shadow{text-shadow: 1px 1px 0 #fff;}
.clear{clear: both; height:0px; width:0px; }

.left{float:left;}
.right{float:right;}
.text_c{text-align:center;}
.text_l{text-align:left;}
.text_r{text-align:right;}
.vam{ vertical-align:middle;}
.mcenter{margin:0 auto;}

.none{display:none;}
.inline_b{display: inline-block;}
.text_through{ text-decoration:line-through;}
/*--内留白5px--*/
.p5{ padding:5px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}

/*---内留白10px---*/
.p10{ padding:10px;}
.pt{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}

/*---内留白15px---*/
.p15{padding:15px;}
.pt15{padding-top:15px;}
.pb15{padding-bottom:15px;}
.pl15{padding-left:15px;}
.pr15{padding-right:15px;}


/*---内留白20px---*/
.p20{padding:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pl30{padding-left:30px;}


/*---外留白5px---*/
.m5{ margin:5px;}
.mt5{ margin-top:5px;}
.mb5{ margin-bottom:5px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}


/*---外留白10px---*/
.m10{ margin:10px;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}

/*---外留白20px---*/
.m20{margin:20px;}
.mt20{ margin-top:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}
.mr20{ margin-right:20px;}

/*---外留白30px---*/
.m30{margin:30px;}
.mt30{ margin-top:30px;}
.mb30{ margin-bottom:30px;}
.ml30{ margin-left:30px;}
.mr30{ margin-right:30px;}
.dis_inBlock{display: inline-block;}